<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>675</integer>
	<key>capHeight</key>
	<integer>626</integer>
	<key>copyright</key>
	<string>Cody Jones</string>
	<key>descender</key>
	<integer>-198</integer>
	<key>familyName</key>
	<string>Codee Sans Mono</string>
	<key>note</key>
	<string></string>
	<key>openTypeHeadCreated</key>
	<string>2014/12/14 19:49:07</string>
	<key>openTypeNameDesigner</key>
	<string>Cody Jones</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://mediumjones.com</string>
	<key>openTypeNameLicense</key>
	<string>Licensed under the Open Font License, version 1.1 or later</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Codee Sans Mono</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>CodeeSansMono-Regular</string>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>900</integer>
	<key>versionMajor</key>
	<integer>0</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>479</integer>
</dict>
</plist>
